body {
	margin-left: 5%;
	margin-right: 5%;
}

.nav-bar {
	width: 100%;
	background-color: #FFB4B0;
	border: 2px solid black;
}
.nav-bar ul {
	display: flex;
	justify-content: flex-start;
}

.nav-bar li {
	list-style: none;
	margin-left: 5px;
}

.nav-bar li:not(:last-child)::after {
	content: " |";
}

.song-options {
	margin-top: 20px;
	width: 35%;
	border: 2px solid black;
	background-color: #4DD7FA;
}

label {
	display: block;
}